/*
	main-reset.css
	Purpose: Defines all styling to be included in the <head>
	
	Description:
	For email clients that support CSS in the <head>, resets can be used to fix various quirks.
	NOTE: This file requires processing via gulp to build the desired conditional/variable values
*/

/*! Adjust font rendering on supported devices */

* { 
	webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
	text-size-adjust: none; 
	-webkit-text-size-adjust: none; 
	-moz-text-size-adjust: none; 
	-ms-text-size-adjust: none; 
}

/*! Force Outlook desktop clients (Windows) to always display the view in browser option */

#outlook a { 
	padding: 0; 
}

/*! Reset main body element to fix alignment issues in some clients */

body { 
	width: 100% !important; 
	height: 100% !important; 
	margin: 0 auto !important; 
	padding: 0 !important; 
	/* @if ENABLE_GENERAL_SIBLING_SELECTOR_BUG_FIX='true' */
	-webkit-animation: bugfix infinite 1s;
	/* @endif */
}

/* @if ENABLE_GENERAL_SIBLING_SELECTOR_BUG_FIX='true' */

/*! Specific selector to fix the general sibling selector bug on certain Android and iOS9 clients */

@-webkit-keyframes bugfix { 
	from { padding: 0; } 
	to { padding: 0; } 
}
/* @endif */

/* @if ENABLE_OUTLOOK_WEBMAIL_RESET_CSS='true' */

/*! Force Outlook webmail to display at full width */

.ReadMsgBody, 
.ExternalClass { 
	width: 100%; 
}

/*! Override default line-height value for Outlook webmail */

.ExternalClass, 
.ExternalClass p, 
.ExternalClass span, 
.ExternalClass font, 
.ExternalClass td, 
.ExternalClass th,
.ExternalClass div { 
	line-height: 100%; 
}
/* @endif */

/*! Reset the main wrapper table */

#/* @echo TABLE_WRAPPER_CSS_ID */ { 
	margin: 0; 
	padding: 0; 
	width: 100% !important; 
	line-height: 100% !important; 
}

/* @if ENABLE_GMAIL_ANDROID_RESIZE_FIX='true' */

/*! Hide Gmail spacer hack from most clients */

table#gmailapp-android-fix {
	display: none;
}
/* @endif */

/* @if ENABLE_GMAIL_IOS_FONT_FIX='true' */

/*! Hide Gmail iOS font fix from most clients */

div#gmailapp-ios-font-fix {
	display: none;
	display: none !important;
}
/* @endif */

/*! Default anchor styling */

a, a:link { 
	color: /* @echo DEFAULT_ANCHOR_COLOUR */; 
	text-decoration: underline; 
}

/* @if ENABLE_OUTLOOK_MAIL_ANCHOR_STYLING='true' */

/*! Override link stying for various Microsoft Word based email clients */

span.MsoHyperlink, span.MsoHyperlinkFollowed {
	mso-style-priority:100 !important;
	color: /* @echo DEFAULT_ANCHOR_COLOUR */ !important;
	text-decoration:none !important;
}
/* @endif */

/* @if ENABLE_VISITED_ANCHOR_CSS='true' */

/*! Optional hyperlink states (Not supported in all email clients) */

a:visited { 
	color: /* @echo DEFAULT_ANCHOR_VISITED_COLOUR */; 
	text-decoration: none; 
}

a:focus { 
	color: /* @echo DEFAULT_ANCHOR_VISITED_COLOUR */; 
	text-decoration: underline; 
}

a:hover { 
	color: /* @echo DEFAULT_ANCHOR_VISITED_COLOUR */; 
	text-decoration: underline; 
}
/* @endif */

/*! Remove hyperlink borders around images on Internet Explorer based clients */

a img { 
	border: none; 
}

/*! Make all images block elements and allow smoother image resizing with attributes for IE */

img { 
	/* @if ENABLE_IMG_FIX='true' */
	display: block; 
	/* @endif */
	border: none; 
	outline: none; 
	text-decoration: none; 
	-ms-interpolation-mode: bicubic;
}

/* @if ENABLE_PARAGRAPH_CSS='true' */

/*! Reset all paragraph elements */

p { 
	margin: 1em 0; 
}
/* @endif */

/* @if ENABLE_HEADER_SELECTORS_CSS='true' */

/*! Reset various header styling on Outlook.com webmail */

h1, h2, h3, h4, h5, h6 { 
	color: /* @echo HEADER_SELECTORS_CSS_COLOUR */ !important; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	color: /* @echo HEADER_SELECTORS_ANCHOR_CSS_COLOUR */ !important; 
}

h1 a:active, 
h2 a:active, 
h3 a:active, 
h4 a:active, 
h5 a:active, 
h6 a:active { 
	color: /* @echo HEADER_SELECTORS_ANCHOR_ACTIVE_CSS_COLOUR */ !important; 
}

h1 a:visited, 
h2 a:visited, 
h3 a:visited, 
h4 a:visited, 
h5 a:visited, 
h6 a:visited { 
	color: /* @echo HEADER_SELECTORS_ANCHOR_VISITED_CSS_COLOUR */ !important; 
}
/* @endif */

/*! Collapse all tables to avoid gaps or spacing in Outlook 2007+ */

table { 
	border-collapse: collapse; 
	mso-table-lspace: 0pt; 
	mso-table-rspace: 0pt; 
}

/*! Collapse all table cells to avoid gaps or spacing in Outlook 2007+ */

table td,
table th { 
	border-collapse: collapse; 
}

/* @if ENABLE_YAHOO_SHORTCUTS_CSS='true' */

/*! Styling to avoid Yahoo shortcut links generated by Yahoo! Mail */

span.yshortcuts, 
a span.yshortcuts { 
	color: /* @echo YAHOO_SHORTCUTS_CSS_COLOUR */; 
	background-color: none; 
	border: none; 
}

span.yshortcuts:hover, 
span.yshortcuts:active, 
span.yshortcuts:focus { 
	color: /* @echo YAHOO_SHORTCUTS_CSS_COLOUR */; 
	background-color: transparent; 
	border: none; 
}
/* @endif */

/*! Default black class to override data styling in iOS/other clients */

.appleLinksWhite a { 
	color: #ffffff !important; 
	text-decoration: none !important; 
}

/*! Default white class to override data styling in iOS/other clients */

.appleLinksBlack a { 
	color: #000000 !important; 
	text-decoration: none !important; 
}

/* @if CUSTOM_APPLE_LINKS_COLOUR1!='' */

/*! Custom class to override data styling in iOS/other clients */

.appleLinksCustom1 {
	color: /* @echo CUSTOM_APPLE_LINKS_COLOUR1 */;
	text-decoration: none !important;
}
/* @endif */

/* @if CUSTOM_APPLE_LINKS_COLOUR2!='' */

/*! Custom class to override data styling in iOS/other clients */

.appleLinksCustom2 {
	color: /* @echo CUSTOM_APPLE_LINKS_COLOUR2 */;
	text-decoration: none !important;
}
/* @endif */

/* @if CUSTOM_APPLE_LINKS_COLOUR3!='' */

/*! Custom class to override data styling in iOS/other clients */

.appleLinksCustom3 {
	color: /* @echo CUSTOM_APPLE_LINKS_COLOUR3 */;
	text-decoration: none !important;
}
/* @endif */

/*! General reset for iOS data styling */

a[x-apple-data-detectors] { 
	color: inherit !important; 
	text-decoration: none !important; 
	font-size: inherit !important; 
	font-family: inherit !important; 
	font-weight: inherit !important; 
	line-height: inherit !important; 
}